<app-header
	[navbarBrandRouterLink]="['/dashboard']"
	[fixed]="true"
	[navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
	[sidebarToggler]="false"
	[asideMenuToggler]="false"
	[mobileAsideMenuToggler]="false"
	[mobileSidebarToggler]="false">
	<!-- [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}" -->

	<ul class="nav navbar-nav ml-auto">
		<li class="nav-item " style="margin-right: 30px">
			<a class="nav-link" href="#" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
		</li>
	</ul>
</app-header>

<div class="app-body">
	<!--<app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">-->
		<!--<app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>-->
		<!--<app-sidebar-minimizer></app-sidebar-minimizer>-->
	<!--</app-sidebar>-->
	<!-- Main content -->
	<main class="main">
		<div class="container-fluid" style="margin-top: 30px">
			<router-outlet></router-outlet>
		</div><!-- /.container-fluid -->
	</main>
</div>

<!--<app-footer>-->
<!--	<span><a href="https://coreui.io">CoreUI</a> &copy; 2018 creativeLabs.</span>-->
<!--	<span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>-->
<!--</app-footer>-->
